# VSPC Veeam - Console de gestion des backups
VSPC_HOST=vspc.prod01.eu-west-rbx.backup.ovhcloud.com
VSPC_PORT=1280
VSPC_USERNAME=votre_utilisateur
VSPC_PASSWORD=votre_mot_de_passe

# API OVHcloud - Pour gérer vos services
OVH_ENDPOINT=ovh-eu
OVH_APP_KEY=votre_app_key
OVH_APP_SECRET=votre_app_secret
OVH_CONSUMER_KEY=votre_consumer_key
